
* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
body {
    max-width: 100%;
    max-height: 100%;
}
header ,footer {
    height: 60px;
    background-color: rgb(65, 141, 202);
}
nav {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    padding-top: 20px;
}
#main-content {
    display: flex;
    flex-direction: row;
}
#main-content img{
    width: 200px;
    height: 100px;
}
aside {
    background-color: lightblue;
    width: 300px;
    
}
aside a {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}
main {
    background-color: rgb(129, 129, 133);
    padding: 30px 10px;
}
main>h1 {
    margin-bottom: 30px;
    font-weight: 700;
}
#about {
    margin-bottom: 30px;
    font-weight: 500;
}
#content div>h3{
    padding: 20px; 
    font-weight: 700;  
    background-color: rgb(25, 123, 221);
}
#content h4{
    padding: 30px 10px 0px; 
    font-weight: 500;  
}
#business {
    background-color: rgb(231, 227, 227);
}
#general {
    background-color: lightgrey;
}
#health {
    background-color: rgb(231, 227, 227);;
}
#sports {
    background-color: lightgrey;
}
#technology {
    background-color: rgb(231, 227, 227);;
}
.imageText {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   padding-left: 10px;
   padding-right: 10px;
}
.imageText p {
    margin-left: 20px;
    font-weight: 300;
    order: 1;
}
.imageText img{
    order: 2;
}

.link{
    display: block;
    padding: 10px 10px;
}
.date {
    padding: 10px;
}
.author {
    margin-bottom: 10px;
    padding: 10px;
}
#contacts div , h3, address {
    padding: 10px;
}
#contacts {
    margin-bottom: 80px;
}
footer {
    bottom: 0;
    position: fixed;
    height: 80px;
    width: 100%;
}
footer>div {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    padding-top: 20px;
}
footer p {
    float: right;
    margin-right: 20px;
}